<div id="[id]" class="card d-inline-flex p-2" style="width: 18rem">
  <img class="card-img-top" src="[image]" alt="[name]" />
  <div class="card-body">
    <h5 class="card-title">[name]</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Stock: [stock]</li>
    <li class="list-group-item">Precio:$[price]</li>
    <li class="list-group-item">Oferta: $[salePrice]</li>
  </ul>
  <div class="card-body">
    <button onclick="Comprar([id])" type="button" class="btn btn-info">
      Comprar
    </button>
  </div>
</div>
